# Dependencias
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.cache/
.next/
.nuxt/

# Backend
/api/node_modules/
/api/package-lock.json

# Frontend específico
/frontend/admin/node_modules/
/frontend/admin/.next
/frontend/admin/out
/frontend/admin/package-lock.json
###/frontend/admin/build
/frontend/user/node_modules/
/frontend/user/.next
/frontend/user/out
/frontend/user/package-lock.json
###/frontend/user/build
.vercel
